body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.dis_center {
  margin: auto;
}

.txt_center{
  text-align: center;
}

.todo-item {
  height: 40px;
  /*
  border-bottom: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;
  */
  border-radius: 5px;
  padding-top: 9px;
  margin-right: 20px;
  padding-left: 5px;
}

.todo-item:active{
  background-color:rgb(215, 218, 199);
}